    <div class="jumbotron" id="archive">
		<h2>
			Developers:----------
		</h2>
		<h3>
			
			<div>
				Mayank Jha<a href="https://www.linkedin.com/in/mayank-jha-8b887a1b3/"><i class="linkedin icon"></i></a>
			</div>
			<div>
				Shivam Sharma<a href="https://www.linkedin.com/in/shivam-vats-630a68194/"><i class="linkedin icon"></i></a>
			    <a href="https://www.instagram.com/shivam_vats7/"><i class="instagram icon"></i></a>
			</div>
			<div>
				Shwetanshu Singh<a href="https://www.linkedin.com/in/shwetanshu-singh-b08334206/"><i class="linkedin icon"></i></a>
			</div>
			<div>
				Sundeep Chand<a href="https://www.linkedin.com/in/mayank-jha-8b887a1b3/"><i class="linkedin icon"></i></a>
			</div>
			<div>
				Shivank Gupta<a href="https://www.linkedin.com/in/mayank-jha-8b887a1b3/"><i class="linkedin icon"></i></a>
			</div>
		</h3>
		<h3>
			Group project
		</h3>
    </div>
	</body>
</html>