<html>
	<head>
		<title>Share To Heal</title>
		<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet"  href="/stylesheets/app.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="ui fixed orange menu">
			<div class="ui container">
				<div class="header item">
					<i class="american sign language interpreting icon"></i>STH
				</div>
				<a href="/" class="item">Home</a>
				<a href="/posts/new" class="item"> New Post</a>
				<%if(currentUser)
				{%>
				<a href="/posts/userprofile" class="item">Logged in as <%=currentUser.username%></a>
				<a href="/logout" class="item">Logout</a>
				<%}
				else{%>
				<a href="/login" class="item">Login</a>
				<a href="/register" class="item">SignUp</a>
				<a href="/profregister" class="item">SignUp As Professional</a>
				<%}%>
			</div>
		</div>
		