<%- include("partials/header.ejs") %>
<div class="ui main text container segment">
	<div class="ui huge header">
		Login 
	</div>
	<form class="ui form" action="/login" method="POST">
		<div class="field">
			<label>Username</label>
			<input type="text" name="username" placeholder="Username">
		</div>
		<div class="field">
			<label>Passsword</label>
			<input type="password" name="password" placeholder="Password">
		</div>
		<input class="ui violet inverted button" type="submit">
	</form>
</div>
<%- include("partials/footer.ejs") %>