<%- include("partials/header.ejs") %>
<div class="ui main text container segment">
	<div class="ui huge header">
		Add the experience you want to share
	</div>
	<form class="ui form" action="/posts" method="POST">
		<div class="field">
			<label>Title</label>
			<input type="text" name="title" placeholder="title">
		</div>
		<div class="field">
			<label>Category</label>
			<select  name="image">
               <option value="https://i.pinimg.com/originals/a1/2b/43/a12b437175f8a5ea5ec4fb57fbf916c6.jpg">Trauma related</option>
               <option value="https://cdn.tinybuddha.com/wp-content/uploads/2020/05/Joy.png">Stress and Depression related</option>
               <option value="https://images.unsplash.com/flagged/photo-1578535689084-b804a326a840?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80">Illness related</option>
               <option value="https://images.unsplash.com/photo-1518655061710-5ccf392c275a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80">Other</option>
            </select>
			<!--<input type="text" name="post[image]" placeholder="image url">-->
		</div>
		<div class="field">
			<label>Content</label>
			<textarea name="description" placeholder="content"></textarea>
		</div>
		<input class="ui violet inverted button" type="submit">
	</form>
</div>
<%- include("partials/footer.ejs") %>